.git
.github
.githooks
.next
node_modules
.env
.env.*
!.env.example
!.env.production.example
storage/*.sqlite
storage/*.sqlite-*
storage/uploads/*
!storage/uploads/.gitkeep
storage/backups/*
!storage/backups/.gitkeep
*.log
