{$NIVASA_DOMAIN} {
  encode zstd gzip
  reverse_proxy nivasaos:3000 {
    header_up X-Nivasa-Client-IP {remote_host}
  }

  header {
    Strict-Transport-Security "max-age=31536000; includeSubDomains"
    Permissions-Policy "camera=(), microphone=(), geolocation=(), payment=()"
    Cross-Origin-Opener-Policy "same-origin"
    X-Frame-Options "DENY"
    X-Content-Type-Options "nosniff"
    Referrer-Policy "strict-origin-when-cross-origin"
    -Server
  }
}
